name: Manual SSG5 Build

# Author: Robert Zheng
# created: 2026-01-12
# updated: 2026-01-12
# version: 1.0.0
# description: build and generate static website from markdown files to branch gh-pages

run-name: Manual SSG5 Build

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build-and-generate:
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y nlohmann-json3-dev wget lsb-release software-properties-common gnupg pkg-config cmake ninja-build libcurl4-openssl-dev
          wget https://apt.llvm.org/llvm.sh
          chmod +x llvm.sh
          sudo ./llvm.sh 21 all

      - name: Configure CMake
        run: |
          cmake -S . -B build -G Ninja -DCMAKE_CXX_COMPILER=clang++-21

      - name: Build SSG5
        run: |
          cmake --build build --target ssg5

      - name: Create Config
        run: |
          echo "template=assets4/template.html" > config.cfg
          echo "output=public" >> config.cfg

      - name: Run Static Site Generator
        run: |
          ./build/ssg5 config.cfg input

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: static-site
          path: public/

      - name: Deploy to gh-pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: gh-pages
          folder: public

      - name: Deploy to main (public folder)
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: main
          folder: public
          target-folder: public
